BOT_TOKEN=7743035570:AAE0urtZaPrZ13qLr61bEbkmWTbdW_FzHUQ
OWNER_ID=7863546766
MONGO_URL=mongodb+srv://public:abishnoimf@cluster0.rqk6ihd.mongodb.net/?retryWrites=true&w=majority
OWNER_USERNAME=nobi_shops
